<div class="navbar_header">
    <a href="/admin">Trang chủ</a>
    <!-- <a href="#news">News</a> -->
    <div class="dropdown_header">
      <button class="dropbtn">Quản lý 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown_header-content">
        <a href="/admin/user">Tài khoản khách hàng</a>
        <a href="/admin/loai-san-pham">Danh Mục</a>
        <a href="/admin/xuat-xu-san-pham">Thể loại</a>
        <a href="/admin/san-pham">Sản phẩm</a>
        <a href="/admin/hoa-don">Hóa đơn</a>
        <a href="/admin/thong-ke">Thống kê</a>
      </div>
    </div> 
    <a href="/customer/login">Website</a>
    <div class="dropdown_header dropdown_header_icon">
      <button class="dropbtn">
        <i class="fa fa-caret-down"></i>
        <i class="fa fa-user icon"></i>
      </button>
      <div class="dropdown_header-content">
        <a href="#">Đổi mật khẩu</a>
        <a href="/admin/login">Đăng xuất</a>
        <!-- <a href="#">Link 3</a> -->
      </div>
    </div> 
  </div>